html, body {
    max-width: 1100px;
}

body {
    background-color: #555;
}

div.paper {
    background-color: #fcfcfc;
    padding: 30px;
    /*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
}

div.info-header {

}

div.left-panel {
    width: 200%;
}

span.target-profession {
    color: #555;
}

svg.icon {
    margin-top: 0.15em;
}

div.cv {
    font-family: "Roboto Light", serif;
}

span.full-name {
    font-weight: bold;
    font-size: 32px;
}

/* === BLOCK SETTINGS === */
.block:not(:first-of-type) {
    margin-top: 13px;
}

.block > span.title {
    font-weight: bold;
}

.timed-block > span.date {
    color: #666666;
    font-size: 85%;
}

.timed-block > span.description {
    /*    not much here, the description looks good without any styles 8) */
}

.text-block > {
}

/* === SECTION SETTINGS === */
.section:not(:first-of-type) {
    margin-top: 20px;
}

/* === LITTLE SECTION SETTINGS === */

.little-section:not(:first-of-type) {
    margin-top: 30px;
}

.little-section .title {
    font-weight: bold;
}

.little-section .email {
    text-decoration: none;
}

.little-section .subtitle {
    color: #888888;
}

.little-section .level-description {
    text-align: right;
}

.progress-row:not(:first-of-type) {
    margin-top: 10px;
}

.little-progress-section h5 {
    font-weight: bold;
}