div.cv {
    font-family: "Roboto Light", serif;
}

span.full-name {
    font-weight: bold;
    font-size: 32px;
}

/* === JOB BLOCK SETTINGS === */
.job-block:not(:first-of-type) {
    margin-top: 13px;
}

.job-block > span.title {
    font-weight: bold;
}

.job-block > span.date {
    color: #666666;
    font-size: 85%;
}

.job-block > span.description {
/*    not much here, the description looks good without any styles 8) */
}

/* === EDUCATION BLOCK SETTINGS === */
.education-block:not(:first-of-type) {
    margin-top: 13px;
}

.education-block > span.title {
    font-weight: bold;
}

.education-block > span.date {
    color: #666666;
    font-size: 85%;
}

.education-block > span.description {
    /*    not much here, the description looks good without any styles 8) */
}

.section:not(:first-of-type) {
    margin-top: 20px;
}